
{% load widget_tweaks %}
{% load range_tags %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style type="text/css">
h2, h1 {
    margin-left: 20px;
}
#id_q {
    padding: 20px;
}
.form-one {
width: 100%;
    position: relative;
}
.form-one__submit {
    position: absolute;
    z-index: 20;
    right: 0;
    width: 200px !important;
    height: 58px;
    top: 0;
    transition: .3s;
}
.form-one__submit:hover {
    background-color: rgba(0,0,0,.8);
    color: #fff;
}
.form-one tr:nth-child(2) {
    display: none;
}
.form-one tr th:first-child {
    display: none;
}
.form-one tr td {
    width: 100%;
}
.form-one tr td input {
    width: calc(100% - 200px);
    border: none;
    background: rgba(0,0,0,.02);
}

.label-search {
    position: absolute;
    padding: 0 20px;
}

/* Table 1 */
    .table-title {
        font-size: 12px;
        text-align: center;
        margin: 10px 20px;
    } 
    .table-title__values {

    }
    .table-title__values td {
        padding: 5px 10px;
        border: 1px solid rgba(0,0,0,.02);
        border-bottom: 1px solid rgba(0,0,0,.3);
        font-weight: bold;
    }
    .table-title__items td {
        padding: 5px 10px;
        border: 1px solid rgba(0,0,0,.02);
    }

    .table-title__title {
        font-size: 26px;
    }

    .table-items th {
        text-align: center;
    }


/* Table 2 */
    .table-items {
        margin: 10px 20px;
        font-size: 12px;
        width: 95%;
    }
    .table-items thead:nth-child(2n) {
        background: rgba(0,0,0,.1);
        width: 500px;
    }
    .table-items td {
        padding: 5px 200px 5px 5px;
        border-right: 1px dashed rgba(0,0,0,.2);
        border-bottom: 1px dashed rgba(0,0,0,.2);
    }
    /*.table-items td:last-child {
        border-right: none;
    }*/

/*table_one*/
.table_one {
    max-width: 100%;
    margin: 10px 20px;
    width: 95%;
}
.table_one th{
        font-size: 11px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
}
.table_one td {
        padding: 5px 20px 5px 5px;
        border-right: 1px dashed rgba(0,0,0,.2);
        border-bottom: 1px dashed rgba(0,0,0,.2);
    }

</style>
<h2>Search</h2>

<form method="get" action=".">
    <table class="form-one">
        {% render_field form%}
        
        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="form-one__submit" type="submit" value="Search">
            </td>
        </tr>
    </table>
    {% if query %}
        <!-- <h3>Results</h3> -->
        <table class="table_one">
            <tr>
                <th>Name of drugs</th>
                <th>Min Price</th>
                <th>Max Price</th>
                <th>Average Price</th>
                <th>Last change in price</th>
                <th>Number of shops</th>
                <th>Last change date</th>
            </tr>
            {% for key, values in test.items %}
            <tr>
                <td><a href="#">{{ values.0.name }}</a></td>
<!--<td>{{values}} </td> -->
                <!-- Price <td>
                    {% for i in  values %}
                    
                       {{ i.price|floatformat:"0"|linebreaks }}
                    {% endfor %} </td> -->
                <td>
                    {{ values|slice:"-2:-1"}}
                </td>
                <td>
                    {{ values|slice:"-3:-2"}}
                </td>
                <td>
                    {{ values|last|floatformat:"0" }}
                </td>
                <td></td>
                <td>{{ values|slice:"-4:-3"}}
<!--                     {% for i in  values %}
                        {{i.site_link}}
                    {% endfor %} -->
                </td>

               
                <td>
                    {{values.0.created_date|date:"SHORT_DATE_FORMAT"}}
                </td>
            </tr>
        {% endfor %}
        </table >


        <table class="table-items">
            <tr>
                <th>Name of the store</th>
                <th>Current Price</th>
                <th>Last update Price</th>
                <th>Last change amonth</th>
            </tr>
        {% for key, values in test.items %}
            <tr>
                <td>
                    {% for i in  values %}
                        {{i.site_link|linebreaks}}
                    {% endfor %}    
                </td>
                <td>
                    {% for i in  values %}
                        {{i.price|floatformat:"0"|linebreaks}}
                    {% endfor %} 
                </td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </table>
        

        {% empty %}
            <p>No results found.</p>
        {% endfor %}
        </table>
            
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</form>

<!--  -->

<!--  -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


